<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="EPWebServices"
    connectionString ="Server=tcp:dev-test-epwebservice.database.windows.net,1433;Initial Catalog=T-Epwebservices;Persist Security Info=False;User ID=EPAdmin;Password=C5InjmY0WfcVFuDZcmdO;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"/>
    <!--  connectionString ="Data Source=t-mqsql01;Initial Catalog =EpWebServicesDb ;Integrated Security=SSPI"/>  -->


  </connectionStrings>
</configuration>

